body
	background-color white
	padding: 50px
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color: #00B7FF

h1
	text-align center
	img
		max-width 90%
		height auto

form
	center(800px)
	input
		font-size 2rem
		border 2px solid #eee
		padding 6px
		width 100%
