.font
	font: 14px Lato, sans-serif

dark_bg = (white - 10%)
text_dark = rgba(black, 0.6)
text_dark_inactive = rgba(black, 0.4)

html, body
	background-color dark_bg
	padding 0
	margin 0
	@extends .font

a
	color: #00B7FF
	text-decoration none

form
	center(800px)
	input
		font-size 1.2rem
		border 2px solid dark
		font-family 'Ubuntu Mono'
		font-weight 400
		padding 0.2em
		width 100%
		color text_dark
		&::-webkit-input-placeholder
			color text_dark_inactive
			opacity 1
		&:-ms-input-placeholder
			color text_dark_inactive
			opacity 1
		&:-moz-placeholder
			color text_dark_inactive
			opacity 1
		&::-moz-placeholder
			color text_dark_inactive
			opacity 1
		&::placeholder
			color text_dark_inactive
			opacity 1
	&.q
		input
			font-size 2.5rem

logo_height = 60px

#top, #main
	padding: 5px 50px
#top
	background-color white
	padding-bottom 25px
// #main
// 	margin-top logo_height

header
	position relative
	padding-top 1px
	.user-logo
		position absolute
		right 0
	h1
		margin-top logo_height
		text-align center
		img
			max-width 90%
			height auto

.user-logo
	display flex
	height logo_height
	line-height logo_height
	.user-initial
		width logo_height
		border-radius (logo_height/2)
		background text_dark_inactive
		color white
		text-align center
		font-size (logo_height/2)
		position relative
		overflow hidden
		a, img
			position absolute
			left 0
			right 0
		a
			color inherit
		img
			height auto
			+ a
				text-shadow 0px 0px 3px black
	.user-name
		padding-left 1em
		color black