extends layout

block content
	p Welcome to #{title}
	form(action=userPrefix+"/execute",method="post",enctype="application/x-www-form-urlencoded")
		input#search(placeholder="youbnub.local $",name="q")

block user
	| User: #{user.name || user.userId} 
	if user.userId !== 'global'
		span(title=user.userId) Remember your user id, it is a token