doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		header
			block user
				| User: #{user.name || user.userId} 
		block title
			h1
				a(href=userPrefix+"/")= title
		block content
