body {
  background-color: #fff;
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
h1 {
  text-align: center;
}
form {
  *zoom: 1;
  width: auto;
  max-width: 800px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
form:before,
form:after {
  content: '';
  display: table;
}
form:after {
  clear: both;
}
form input {
  font-size: 2rem;
  border: 2px solid #eee;
  padding: 6px;
  width: 100%;
}
