.font,
body {
  font: 14px Lato, sans-serif;
}
body {
  background-color: #fff;
  padding: 5px 50px;
}
a {
  color: #00b7ff;
  text-decoration: none;
}
form {
  *zoom: 1;
  width: auto;
  max-width: 800px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
form:before,
form:after {
  content: '';
  display: table;
}
form:after {
  clear: both;
}
form input {
  font-size: 1.2rem;
  border: 2px solid #eee;
  font-family: 'Ubuntu Mono';
  font-weight: 400;
  padding: 0.2em;
  width: 100%;
}
form.q input {
  font-size: 2rem;
}
header {
  position: relative;
  padding-top: 1px;
}
header .user-logo {
  position: absolute;
  right: 0;
}
header h1 {
  margin-top: 60px;
  text-align: center;
}
header h1 img {
  max-width: 90%;
  height: auto;
}
.user-logo {
  display: flex;
  height: 60px;
  line-height: 60px;
}
.user-logo .user-initial {
  width: 60px;
  border-radius: 30px;
  background: rgba(0,0,0,0.4);
  color: #fff;
  text-align: center;
  font-size: 30px;
  position: relative;
  overflow: hidden;
}
.user-logo .user-initial a,
.user-logo .user-initial img {
  position: absolute;
  left: 0;
  right: 0;
}
.user-logo .user-initial a {
  color: inherit;
}
.user-logo .user-initial img {
  height: auto;
}
.user-logo .user-initial img + a {
  text-shadow: 0px 0px 3px #000;
}
.user-logo .user-name {
  padding-left: 1em;
  color: #000;
}
